<h1>Sessions History</h1>

<body>
    <form [formGroup]="HistoryForm" (ngSubmit)="HistorySelector()">
        <label for="locations">Location</label>
        <select formControlName="locations" id ="locations">
          <option *ngFor="let location of locations; let i = index" [value]="locations[i]">
            {{locations[i]}}
          </option>
        </select>
    <br>
    <label>
      Number of Entries:
      <input type="text" formControlName="NumEntries"required>
    </label>
    <br>
    <br>
      <input type="submit" value="select" class="btn">
  </form>
  <br>

  <table id="sessionsHistory" style="table-layout: fixed">
    <tr>
      <th>Location ID</th>
      <th>Session ID</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>End State</th>
      <!--<th>OD Flag</th>-->
      <th>Duration</th>
      <!--<th>Still Counter</th>-->
      <th>Chatbot State</th>
      <th>Incident Type</th>
      <th>Notes</th>
    </tr>
  </table>
</body>
