<form [formGroup]="LocationForm" (ngSubmit)="onSubmitLocation()">
  
    <label>
      Location ID:
      <input type="text" formControlName="LocationID" required>
    </label>
    <br><br><br>
    <button type="submit" class="btn" [disabled]="!LocationForm.valid">Get Location Data</button>
  
</form>
<br><br><br>
<form [formGroup]="LocationDataForm" (ngSubmit)="onSubmitLocationData()">
  
    <label>
      Device ID:
      <input type="text" formControlName="DeviceID" required>
    </label>
    <br><br>
    <label>
      Phone Number: +1
      <input type="text"  maxLength="10" formControlName="PhoneNumber" required>
      <!--
      (<input type="text" id="areacode" maxLength="3" (input)="checkLength(this)" required>) -
      <input type="number" id="phone3" maxLength="3" (input)="checkLength(this)" required> -
      <input type="number" id="phone4" maxLength="4" (input)="checkLength(this)" required>
      -->
    </label>
    <br><br>
    <label>
      RPM Threshold:
      <input type="text"  formControlName="RPM_Threshold" required>
    </label>
    <br><br>
    <label>
      Still Threshold:
      <input type="text"  formControlName="Still_Threshold" required>
    </label>
    <br><br>
    <label>
      Duration Threshold:
      <input type="text"  formControlName="Duration_Threshold" required>
    </label>
    <br><br>
    <label>
      Movement Threshold:
      <input type="text" formControlName="Mov_Threshold" required>
    </label>
    <br><br>
    <label>
      Detection Zone Min:
      <input type="range" id="min_range" formControlName="DetectionZone_min" min="0.4" max="5" step="0.1" (change)="updateMinRange()" (input)="updateMinRange()" required>
      {{Min_Range}}
    </label>
    <br><br>
    <label>
      Detection Zone Max:
      <input type="range" id="max_range" formControlName="DetectionZone_max" min="0.4" max="5" step="0.1" (change)="updateMaxRange()" (input)="updateMaxRange()" required>
      {{Max_Range}}
    </label>
    <br><br>
    <label>
      Sensitivity:
      <input type="range" id="sensitivity" formControlName="Sensitivity" min="0" max="9" step="1" (change)="updateSensitivity()" (input)="updateSensitivity(this.value)" required>
      {{Sensitivity}}
    </label>
    <br><br>
    <div>
    <label>
      LED:
    </label>
    <label>
      <input type="radio" formControlName="LED" value="2" required>
      Full
    </label>
    <label>
      <input type="radio" formControlName="LED" value="1" required>
      Simple
    </label>
    <label>
      <input type="radio" formControlName="LED" value="0" required>
      Off
    </label>
    </div>
    <br><br>
    <label>
      Noise Map:        
      <label>
        <input type="checkbox" id="noisemap4" name="noisemap4" value="4" (change)="updateNoisemapValue()">
        Default
      </label>
      <label>
        <input type="checkbox" id="noisemap2" name="noisemap2" value="2" (change)="updateNoisemapValue()">
        Adaptive
      </label>
      <label>
        <input type="checkbox" id="noisemap1" name="noisemap1" value="1" (change)="updateNoisemapValue()">
        Initialize
      </label>
            
    </label>
    <br><br><br> 
    <button type="submit" class="btn" [disabled]="!LocationDataForm.valid">Submit</button>
  
</form>
