<form [formGroup]="LocationForm" (ngSubmit)="onSubmitLocation()">
  
    <label>
      Location ID:
      <input type="text" formControlName="LocationID" required>
    </label>
    <br><br><br>
    <button type="submit" class="btn" [disabled]="!LocationForm.valid">Get Location Data</button>
  
</form>
<br><br><br>
<form [formGroup]="LocationDataForm" (ngSubmit)="onSubmitLocationData()">
  
    <label>
      Device ID:
      <input type="text" formControlName="DeviceID" required>
    </label>
    <br><br>
    <label>
      Phone Number:
      <input type="text" formControlName="PhoneNumber" required>
    </label>
    <br><br>
    <label>
      Detection Zone Min:
      <input type="range" id="min_range" formControlName="DetectionZone_min" min="0.4" max="5" step="0.1" (change)="updateMinRange()" (input)="updateMinRange()" required>
      {{Min_Range}}
    </label>
    <br><br>
    <label>
      Detection Zone Max:
      <input type="range" id="max_range" formControlName="DetectionZone_max" min="0.4" max="5" step="0.1" (change)="updateMaxRange()" (input)="updateMaxRange()" required>
      {{Max_Range}}
    </label>
    <br><br>
    <label>
      Sensitivity:
      <input type="range" id="sensitivity" formControlName="Sensitivity" min="0" max="9" step="1" (change)="updateSensitivity()" (input)="updateSensitivity(this.value)" required>
      {{Sensitivity}}
    </label>
    <br><br>
    <div>
    <label>
      LED:
    </label>
    <label>
      Full
      <input type="radio" name="led" formControlName="LED" value="2" required>
    </label>
    <label>
      Simple
      <input type="radio" name="led" formControlName="LED" value="1" required>
    </label>
    <label>
      Off
      <input type="radio" name="led" formControlName="LED" value="0" required>
    </label>
    </div>
    <br><br>
    <label>
      Noise Map:        
      <label>
        Default Noisemap
        <input type="checkbox" id="noisemap4" name="noisemap4" value="4" (change)="updateNoisemapValue()">
      </label>
      <label>
        Adaptive Noisemap
        <input type="checkbox" id="noisemap2" name="noisemap2" value="2" (change)="updateNoisemapValue()">
      </label>
      <label>
        Initialize Noisemap
        <input type="checkbox" id="noisemap1" name="noisemap1" value="1" (change)="updateNoisemapValue()">
      </label>
            
    </label>
    <br><br><br> 
    <button type="submit" class="btn" [disabled]="!LocationDataForm.valid">Submit</button>
  
</form>
