<h1>Dashboard</h1>

  <body>
  <form [formGroup]="LocationForm" (ngSubmit)="LocationSelector()">
      <select formControlName="LocationControl">
        <option value="BraveOffice">BraveOffice</option>
        <option value="BraveOffice2">BraveOffice2</option>
      </select>
      <input type="submit" value="select" class="btn">
  </form>

  <p>Latest Session and State Data</p>
  <table style="table-layout: fixed">
    <tr>
      <th>Location ID</th>
      <th>TimeStamp</th> 
      <th>State</th>
    </tr>
    <tr>
      <td>{{LocationID_st}}</td>
      <td>{{Published_at_st}}</td>
      <td>{{State_st}}</td>
    </tr>
  </table>
  <br/>
  <table style="table-layout: fixed">
      <tr>
        <th>Location ID</th>
        <th>Session ID</th>
        <th>Start Time</th>
        <th>End Time</th> 
        <th>State</th>
        <th>OD Flag</th>
        <th>Duration</th>
        <th>Still Counter</th>
      </tr>
      <tr>
        <td>{{LocationID_sesh}}</td>
        <td>{{SessionID_sesh}}</td>
        <td>{{Start_time_sesh}}</td>
        <td>{{End_time_sesh}}</td>
        <td>{{State_sesh}}</td>
        <td>{{Od_flag}}</td>
        <td>{{Duration_sesh}}</td>
        <td>{{Still_counter}}</td>
      </tr>
  </table>
  <br/>
  <table style="table-layout: fixed">
    <tr>
      <th>Session Timer</th>
      <th>Chatbot State</th>
      <th>Incident Type</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td>{{Timer_sesh}}</td>
      <td>{{Chatbot_state}}</td>
      <td>{{IncidentType_sesh}}</td>
      <td>{{Notes_sesh}}</td>
    </tr>
  </table>
  <br/>
  <button class="btn" (click)="ResetClick()">Session Reset</button>
  <br/>
  <p>Sensors Raw Data</p>
  <table style="table-layout: fixed">
    <tr>
      <th>Location ID</th>
      <th>Device ID</th>
      <th>Device Type</th>
      <th>TimeStamp</th> 
      <th>State</th>
      <th>RPM</th>
      <th>Distance</th>
      <th>Movement Fast</th>
      <th>Movement Slow</th>
    </tr>
    <tr>
      <td>{{LocationID}}</td>
      <td>{{DeviceID}}</td>
      <td>{{DeviceType}}</td>
      <td>{{Published_at}}</td>
      <td>{{State}}</td>
      <td>{{Rpm}}</td>
      <td>{{Distance}}</td>
      <td>{{Mov_f}}</td>
      <td>{{Mov_s}}</td>
    </tr>
  </table>
  <br />
  <br />
  <table style="table-layout: fixed">
    <tr>
      <th>Location ID</th>
      <th>Device ID</th>
      <th>Device Type</th>
      <th>TimeStamp</th> 
      <th>Signal</th>
    </tr>
    <tr>
      <td>{{LocationID_m}}</td>
      <td>{{DeviceID_m}}</td>
      <td>{{DeviceType_m}}</td>
      <td>{{Published_at_m}}</td>
      <td>{{Signal_m}}</td>
    </tr>
  </table>
  <br />
  <br />
  <table style="table-layout: fixed">
      <tr>
        <th>Location ID</th>
        <th>Device ID</th>
        <th>Device Type</th>
        <th>TimeStamp</th> 
        <th>Signal</th>
      </tr>
      <tr>
        <td>{{LocationID_d}}</td>
        <td>{{DeviceID_d}}</td>
        <td>{{DeviceType_d}}</td>
        <td>{{Published_at_d}}</td>
        <td>{{Signal_d}}</td>
      </tr>
    </table>

</body>
