table, th, td{
    border: 1px solid black;
    width: 100%;  
  }

th, td {
    padding: 15px;
}

td {
    vertical-align: top
}

th {
    background-color: #00b8b8;
    color: white;
  }

.floatCenter { width: 50%; float: inherit; }
